# Recording parameters
HOST_RECORDING_PATH=""

# Calibration parameters
CALIBRATION_DATE="YYYY-MM-DD"
BAGS_BASE_PATH=""

# Kalibr parameters
CAMERA_MODEL=pinhole
DISTORTION_MODEL=radtan
MUTUAL_INFORMATION_TOLERANCE=0.1
